

  <!-- .................................... $Contact .................................... -->
  <section class="section-content section-contact" id="section-contact">
    <h2 class="section-title">Contact</h2>
    <div class="row">
      <div class="span5">
        <div class="media">
          <figure class="pull-left">
            <img alt="" class="media-object" height="64" src="/img/people/raaj.bmp" width="64">
          </figure>
          <div class="media-body">
            <h5 class="media-heading">Raaj Gulati</h5>
            <p>
              <i class="icon-envelope"></i>
              <a href="mailto:bill@company.com">counsellor.retirementindia@gmail.com</a>
              <br>
              <i class="icon-phone"></i>
              <a href="tel:+918601894895">[India](91) 8601 894 895</a>
            </p>
          </div>
        </div>
      </div>
      <div class="span4">
        <div class="media">
          <figure class="pull-left">
            <img alt="" class="media-object" height="64" src="/img/people/harshit.png" width="64">
          </figure>
          <div class="media-body">
            <h5 class="media-heading">Harshit Gulati</h5>
            <p>
              <i class="icon-envelope"></i>
              <a href="mailto:info@company.com">director.ideashub@gmail.com</a>
              <br>
              <i class="icon-phone"></i>
              <a href="tel:607-280-1697">[USA] (607) 280-1697</a>
            </p>
          </div>
  </section>
  <!-- .................................... $Contact .................................... -->
  <section class="section-content section-contact">
    <div class="row">
      <div class="span4">
        <h5>IDEAS HUB</h5>
        <address>
          Retirement India ,
          <br> Aditi Apptts.
          <br> 52 Tashkand Marg
          Civil Lines ,
          <br> Allahabad 211 001
        </address>
        <p>
          <i class="icon-envelope"></i>
          <a href="mailto:info@company.com">retirementindia.in@gmail.com</a>
          <br>
          <i class="icon-phone"></i>
          <a href="tel:123-456-7890">(91) 8601 666 222</a>
        </p>
      </div>
      <div class="span4">
        <h5>Mail us</h5>
        <form class="form-vertical" id="mail-form">
          <div class="control-group">
            <label for="mail-name-surname"></label>
            <input class="span3" id="mail-name-surname" placeholder="name surname" type="text">
            <span class="help-inline">Insert name and surname</span>
          </div>
          <div class="control-group">
            <label for="mail-mobile"></label>
            <input class="span3" id="mail-mobile" placeholder="mobile" type="number">
            <span class="help-inline">Insert valid mobile number</span>
          </div>
          <div class="control-group">
            <label for="mail-email"></label>
            <input class="span3" id="mail-email" placeholder="email" type="email">
            <span class="help-inline">Insert valid email</span>
          </div>
          <label for="mail-message"></label>
          <textarea class="span4" id="mail-message" name="message" placeholder="message" rows="5"></textarea>
          <label class="checkbox">
            <input type="checkbox">
            Sign up for newsletter
          </label>
          <button class="btn btn-primary" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </section>
  <!-- .................................... $MAP on background .................................... -->
  <section class="section-content section-map-background" id="section-map-background">
    <div class="map map-background" id="map_canvas"></div>
    <div class="hidden-phone">
      <div class="row">
        <div class="span3 offset5">
          <div class="box box-shadow">
            <h3 class="box-title">
              <strong>Opening times</strong>
            </h3>
            <div class="box-content">
              <p>
                Monday - Friday
                <br>
                9.00 am - 5.00 pm
                <br>
                <br>
                Saturday
                <br>
                9.00 am - 1.00 pm
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



