

  <!-- .................................... $Content .................................... -->
  <section class="section-content">
    <div class="row">
      <div class="span3 documentation-nav affix hidden-phone">
        <ul class="nav nav-pills nav-stacked">
          <li ><a href="#section-FAQ">
            <i class="icon-angle-right pull-right"></i>
            Know Your EPF
          </a></li>
          <li><a href="#section-glossary">
            <i class="icon-angle-right pull-right"></i>
            Glossary
          </a></li>
          <li><a href="#section-contribution">
            <i class="icon-angle-right pull-right"></i>
            Contribution
          </a></li>
          <li><a href="#section-contribution-accounts">
            <i class="icon-angle-right pull-right"></i>
            Contribution Accounts
          </a></li>
          <li><a href="#section-pensionapply">
            <i class="icon-angle-right pull-right"></i>
            Pension Applicability
          </a></li>
          <li><a href="#section-pension-types">
            <i class="icon-angle-right pull-right"></i>
            Types of Pension
          </a></li>
          <li><a href="#section-pension-amount">
            <i class="icon-angle-right pull-right"></i>
            Pension Amount
          </a></li>
          <li><a href="#section-penserbenefit">
            <i class="icon-angle-right pull-right"></i>
            Pensionable Service Benefits
          </a></li>
          <li><a href="#section-withdrawal">
            <i class="icon-angle-right pull-right"></i>
            Withdrawal Benefits
          </a></li>
          <li><a href="#section-forms">
            <i class="icon-angle-right pull-right"></i>
            Forms
          </a></li>
          <li><a href="#section-nomination">
            <i class="icon-angle-right pull-right"></i>
            Nomination

            <li><a href="#section-insurance">
              <i class="icon-angle-right pull-right"></i>
              Insurance
            </a></li>
            <li><a href="#section-uan">
              <i class="icon-angle-right pull-right"></i>
              UAN
            </a></li>
            <li class="active"><a href="#section-registration">
              <i class="icon-angle-right pull-right"></i>
              Registration with Retirement India
            </a></li>
        </ul>
      </div>

      <div class="span6 offset3">
        <section class="section-content section-FAQ" id="section-FAQ">
          <h2 class="section-title">Your Provident Fund </h2>
          <div class="row">
            <div class="span9 tabbable tabs-left">
              <ul class="nav nav-tabs hidden-phone" id="myTab">
                <li class="active">
                  <a data-toggle="tab" href="#epf">
                    <i class="icon-folder-open icon-padded icon-3x pull-left"></i>
                    <strong>Contribution</strong>
                    <br>
                    It is Mandatory
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#cntb">
                    <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                    <strong>Contribution Credits</strong>
                    <br>
                    To EPF,EDLIS & EPS Schemes
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#withdrawal">
                    <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                    <strong>Withdrawals</strong>
                    <br>
                    Advances & Final Exits
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#Job">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>Job Change</strong>
                    <br>
                    Change /Quitting Employment
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#PPF">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>EPF Vs. PPF</strong>
                    <br>
                    Know the schemes
                  </a>
                </li>



              </ul>
              <div class="span5 tab-content">
                <div class="tab-pane active" id="epf">
                  <br>
                  <h3>Whether contribution to EPF mandatory ? </h3>
                  <p>For those who have a basic salary up to Rs. 6500, contributing to the EPF is mandatory. Contributions are voluntary for those whose basic salary exceeds Rs. 6,500. However, it is strongly recommended to make such contributions to avail of the various benefits an EPF account has.</p>
                  <p>
                    <a class="btn btn-primary" href="#section-html5-css3">Where does my monthly EPF contribution go ? </a>
                  </p>
                </div>
                <div class="tab-pane" id="cntb">
                  <br>
                  <h3>An employee's monthly contribution would go into the following three schemes </h3>
                  <ul>
                    <li>EPF (Employees Provident Fund Act 1952) : 15.67 % Of Monthly Wages</ii>
                    <li>EPS (Employees' Pension Scheme), 1995 : 8.33 % of Monthly Wages</li>
                    <li>EDLIS (Employees' Deposit Linked Insurance Scheme 1976) : 0.5 % of Monthly Wages</li>
                  </ul>
                  <p>
                    <a class="btn" href="#section-html5-css3">View details</a>
                  </p>
                </div>
                <div class="tab-pane" id="withdrawal">
                  <br>
                  <h3>For Education, Marriage, Purchase of a house, Medical emergencies.</h3>
                  <ul>
                    <p>Purposes: Children's education, Marriage of self/children/siblings, Purchase/construction of a house, Medical emergencies.</p>
                    <li>Should have completed minimum seven years of service.</li>
                    <li>Withdrawal can be made only three times in the period during which you hold the EPF account</li>
                    <li>Maximum aggregate withdrawal would be 50 per cent of the total contributions made by you.</li>
                    <li>For medical emergencies, there is no minimum service period. However, the maximum amount one can withdraw is six times the basic salary and proof of hospitalization is required.</li>
                    <li>Withdrawal from EPF account for purchase/construction of a house is available only once in an individual's entire working life. The minimum service period is five years and the maximum withdrawal amount is 36 times your total salary (for construction of property) and 24 times (for purchase of property).</li>
                    <li>Withdrawal is subject to certain conditions, non-compliance of which would result in penal interest.</li>
                  </ul>
                  <p>
                    <a class="btn btn-primary" href="#section-hoverdir">Download Forms</a>
                  </p>
                </div>
                <div class="tab-pane" id="Job">
                  <br>
                  <h3>Change or Quit a Job without joining elsewhere</h3>
                  <p>What to do when you change job? What should be done if you quit job without joining elsewhere? </p>
                  <p>At such times, the PF balance could be transferred from one employer to another. The existing balance would continue to stay, with fresh contributions made by the new employer. When you quit your job, the PF could be withdrawn. You need to provide a declaration that you do not intend to work for the next six months.</p>
                </div>
                <div class="tab-pane" id="PPF">
                  <br>
                  <h3>Which is better - EPF or PPF ? </h3>
                  <p>EPF and Public Provident Fund (PPF) are long term investment instruments for retirement.</p>
                  <p>The PPF is a statutory scheme of the central government started with the objective of providing old age income security to the unorganized sector workers and self-employed persons. The EPF is a retirement benefit applicable only for salaried employees. It is a fund to which an employee and employer contribute 12 per cent every month (Pre-set by the government of India) of the employee's basic salary. Every year, the employer deposits with the EPFO the contribution from the employer and the employee. Knowingly or unknowingly, 24 per cent of your basic salary is saved every month.</p>
                </div>

              </div>
            </div>
          </div>
        </section>


        <!-- .................................... $Glossary .................................... -->
        <section class="section-content section-glossary" id="section-glossary">
          <h3 class="section-title">
            Provident & Pension Fund
            <small>
              Know your
              <i>Employees Provident Fund & Family Pension Act 1952 - the glossary</i>
            </small>
          </h3>
          <p><strong>“Employee”</strong> means any person who is employed for wages in any kind of work, manual or otherwise, in or in connection with the work of an establishment and who gets his wages directly or indirectly from the employer.</p>
          <p><strong>“Family”</strong> means (i) in the case of a male member, his wife, his children, whether married or unmarried, his dependant parents and his deceased son’s widow and children and (ii) in the case of a female member, her husband, her children, whether married or unmarried, her dependant parents, her husband’s dependant parents and her deceased son’s widow and children</p>
          <p><strong>“Basic Wages”</strong> means all emoluments which are earned by an employee while on duty or on leave or on holidays with wages - in accordance with the terms of the contract of employment and which are paid or payable in cash to him</p>
          <p><strong>“Superannuation”</strong> means the attainment, by the said employee, of the age of fifty-eight years.</p>
          <p><strong>“Contribution”</strong> means a contribution payable in respect of an employee to whom the Scheme applies </p>
          <p><strong>“Assurance Benefit”</strong> means a payment linked to the average balance in the Provident Fund Account of an employee, payable to a person belonging to his family or otherwise entitled to it in the event of death of the employee while being a member of the Fund.</p>
        </section>
        <!-- .................................... $Contribution .................................... -->
        <section class="section-content section-contribution" id="section-contribution">
          <h3 class="section-title">
            Contribution to Provident Fund & Pension Accounts
            <small>...under EPS 95 / EPF 1952 Schemes</small>
          </h3>
          <p>For a salaried person, contributions to the EPF offer a lot of benefits. It is one of the safest debt instruments available in India. It benefits from a good tax status, being E-E-E (exempt-exempt-exempt).Interest earned on EPF is completely tax free.On retirement, maturity proceeds are also not taxed. This makes this instrument very salary-friendly. It offers the equivalent of a high pre-tax rate of guaranteed interest - earning 8.60% tax free is the equivalent of a 12.28% interest rate considering someone paying 30% tax.</p>
          <p>The contributions payable by the employer under the Scheme shall be at the rate of 12 percent of the basic wages, dearness allowance (including the cash value of any food concession) and retaining allowance (if any) payable to each employee to whom the Scheme applies.The contribution payable by the employee under the Scheme, shall be equal to the contribution payable by the employer.</p>
          <p>The contributions shall be calculated on the total of basic wages, dearness allowance and retaining allowance (if any)] actually drawn during the whole month whether paid on daily, weekly, fortnightly or monthly basis. Each contribution shall be calculated to the nearest rupee, 50 paise or more to be counted as the next higher rupee and fraction of a rupee less than 50 paise to be ignored. </p>
          <p>EPF is a very long term investment instrument. Forshort term financial goals, funding by withdrawals from EPF is not advisable. If goals are in fact primarily short term, as is the case with young couples, or parents funding their children’s educations in a few years, investing the minimum amount in EPF, and channelizing remaining funds towards a more liquid instrument, keeping risk appetite and goal time horizon in mind is advised.</p>
        </section>

        <!-- .................................... $contribution-accounts .................................... -->
        <section class="section-content section-contribution-accounts" id="section-contribution-accounts">
          <h3 class="section-title">
            Where Your Contribution Goes?
            <small>accounting of Employee and Employer contributions</small>
          </h3>
          <p>All salaried individuals working in organizations registered under the Employees Provident Fund Organization, contribute @ 12 % of drawn monthly wages to their Employees’ Provident Fund (EPF). This contribution in full goes straight to Employees PF Account. Employer also make a monthly contribution which is splitted into Three Basic Categories.</p>
          <p> First is <strong>Employees' Provident Fund Contribution ( EPF )</strong></p>
          <p> Second is <strong>Employees' Pension Scheme Contibution ( EPS )</strong></p>
          <p> Third is <strong>Employees' Deposit Linked Insurance Scheme Contribution ( EDLIS )</strong></p>
          <p><strong> Break-up of Total Contribution</strong></p>
          <p><strong>Employee ' Contribution: </strong> Deducted from Monthly wages / salary </p>
          <p>12% (of Basic + Dearness Allowance) into EPF .</p>

          <p><strong>Employer' Contribution :</strong> Calculated on monthly wages/salry (Basic +Dearness Allowance) - fully borne by employer</p>
          <p>3.67% into EPF</p>
          <p>8.33% into EPS</p>
          <p>0.5% into EDLIS</p>
          <p>1.1% for EPF Administrative Charges</p>
          <p>0.01% for EDLIS Administrative Charges</p>
        </section>

        <!-- .................................... $pensionapply .................................... -->
        <section class="section-content section-pensionapply" id="section-pensionapply">
          <h3 class="section-title">
            When Pension may be applied ?
            <small>there are Four Situations when Pension may be applied for</small>
          </h3>
          <p>There are Four Pensions -  <strong>Superannuation , Early Pension , Family Pension & Disability Pension</strong> which may be availed by a Member and his/her Family.</p>
                                                            <pre>
                            1- On Superannuation i.e. on attaining age of 58 years PROVIDED at least 10 years of service has been completed.
                            On attaining 58 Years of age, EPF member ceases to be a member of EPS automatically.
                            The member can CONTINUE in service while receiving Superannuation pension.</p>
                                                              2- Before Superannuation i.e. on attaining age of 50 years PROVIDED at least 10 years of service has been completed and member has NOT attained age of 58 years.
                            The member opting Early Pension should not be in service.</p>
                                                              3- On Death of a member whether Member is in service or NOT in service - Nominated Family person will get Pension i.e. Family Pension.</p>
                                                              4- On Permanent disability i.e. when a member is Permanently and totally unfit for the employment which the member was doing at the time of such disablement.</pre>
          <p>•    No pensioner can receive more than one EPF Pension.</p>
        </section>

        <!-- .................................... $pension-types .................................... -->
        <section class="section-content section-pension-types" id="section-pension-types">
          <h3 class="section-title">
            Which Type of Pension You will get ?
            <small>Check Types of Pension - admissible under given circumstances</small>
          </h3>
          <p> <strong>Superannuation Pension</strong> •   If superannuating at age of 58 years or more
            •   and has completed 20 years or more years of service.</p>
          <p> <strong>Retirement Pension</strong>     •   If age is between 50 and 58 years on the date of Retirement
            •   and has completed 20 years or more years of service.</p>
          <p> <strong>Short Service (Cessation) / Early Pension</strong> •    If age is above 50 years < less than 58 years
            •   and has completed 10 to 20 years of service.</p>
          <p> <strong>Family Pension if member died while in service</strong> •   Provided he has put in at least 1 month service
            •   If nominated his/her spouse for Family Pension while alive.</p>
          <p> <strong>Family Pension if member died while away from Service ( not in service)</strong> •  If there is no family member,- neither Father nor Mother nor wife nor children
            •   Member can nominate a person while in service.</p>
          <p> <strong>Parent Pension</strong>         •   If no family member neither wife nor children are there.
            •   If there is no Nomination , Parent Pension is admissible to  one of the Dependent Parent if alive</p>
          <p> <strong>Disability Pension</strong>     •   Certificate to the effect of permanent and 100% disability should be produced.</p>
          <p>
        </section>



        <!-- .................................... $pension-amount .................................... -->
        <section class="section-content section-pension-amount" id="section-pension-amount">
          <h3 class="section-title">
            Pension Amount
            <small>for those who have joined EPF after 15.11.95</small>
          </h3>
          <p>A member who has joined EPF Scheme AFTER 15.11.1995 will get EITHER Pension OR Pensionable Service Benefits - as the case may be.</p>
                                <pre><p>The formula of calculation of pension is similar to that of a Govt.Employee.</p>
                                     <p>Average Salary   X   Service Years Divided by 70</p>
                                     <p>Maximum service for the calculation of service is 35 yrs. If a member has maximum service, pension will be - Average Salary divided by 2</p>
                                     <p>The Average Salary is named as pensionable salary in the scheme. It is arrived by considering the average contributing salary preceding 12 months from the date of exit.</p></pre>

          <p>If no wage is earned for a certain period, that period is to be deducted from the service (as there will be no contribution to Pension Fund) </p>
        </section>

        <!-- .................................... $PenSerBenefit .................................... -->
        <section class="section-content section-penserbenefit" id="section-penserbenefit">
          <h3 class="section-title">
            Pensionable Service Benefits
            <small>if exiting EPF Scheme before attaining age of 58 years.</small>
          </h3>
          <p><strong><a href="http://flexslider.woothemes.com/">Pensionable Service Benefit</a></strong> is for a member who is leaving job before attaining age of 58 years.</p>
                                                            <pre>Pensionable Service benefit=
                                    ( Pensionable salary   X   Pensionable service ) Divided by 70

                            Subject to minimum of Rs.335, Rs. 438, Rs.635 for receiving early pension ( before 58 years ) for date of commencement of pension between

                            a.  01/04/1993 and 15/11/2000 (Rs. 335/-)
                            b.  16/11/2000 and 15/11/2005 (Rs.438/-)
                            c.  16/11/2005 onward respectively.
                            AND
                            Subject to minimum of Rs.635, Rs.438, Rs.335 for receiving pension on or after 58 years for date of commencement of pension between 01/04/1993 and 15/11/2000, 16/11/2000 and 15/11/2005, 16/11/2005 respectively.
                            </pre>

        </section>
        <!-- .................................... $withdrawal .................................... -->
        <section class="section-content section-withdrawal" id="section-withdrawal">
          <h3 class="section-title">
            Withdrawal Benefits
            <small>align everything</small>
          </h3>
          <p>If your total service is less than 9.5 years, you can apply for Pension Fund Money back (Withdrawal benefit). As you are not entitled for pension, you may withdraw the deposit amounts. </p>
                                <pre><p>The Withdrawal benefit calculation (as in the case of Pension Calculation) is depending on Average salary and total service,</p>
                                     <p>It is NOT related to your actual Balance in Pension Fund.</p></pre>
          <p>EPF Pension scheme is very liberal insurance to your life after job.In case you die before 58 years of age after contributing to EPF Pension scheme for at least 1 year, your family is entitled for Pension. </p>
          <p>You can add services at different companies by applying for Scheme certificate, and if your total service is at least 10 years, you can get pension from the age of 50 years on wards.</p>
        </section>

        <!-- .................................... $Forms .................................... -->
        <section class="section-content section-forms" id="section-forms">
          <h3 class="section-title">
            Forms - Download
            <small>check and download Forms for various purposes</small>
          </h3>
          <p>Choose the purpose of application, "CLICK FORM NUMBER" and download the Form. Registered User shall Log-in to his Account and Download the FILLED-in required Form.</p>
                                <pre>
                                    <p><strong><a href="Forms/Form5IF.pdf">Form 5 IF</a></strong> To be preferred by the person eligible to receive the Employees Provident Fund dues of the deceased member who died while in services.</p>
                                    <p><strong><a href="Forms/Form10C.pdf">Form 10 C</a></strong>  For Claiming Refund of Employer share ,Withdrawl benefit ,Scheme certificate for retention of membership.</p>
                                    <p><strong><a href="Forms/Form10D.pdf">Form 10 D</a></strong>  To be submitted by the first claimant i.e. member or widow/widower or orphan or nominee as the case may be.</p>
                                    <p><strong><a href="Forms/Form13.pdf">Form 13 D</a></strong>  For transferring the Provident Fund account of a member from one establishment to another establishment covered under the act / scheme.</p>
                                    <p><strong><a href="Forms/Form14.pdf">Form 14 D</a></strong>  Application for financing a life insurance policy out of Provident Fund account.</p>
                                    <p><strong><a href="Forms/Form19.pdf">Form 19 D</a></strong>  To be submitted by a member to withdraw his Provident Fund dues on leaving service/retirement/termination</p>
                                    <p><strong><a href="Forms/Form20.pdf">Form 20</a></strong>  To be submitted by guardian of a minor / lunatic member, nominee or a legal heir of a deceased member,by guardian of the minor / lunatic nominee or heir for claiming PF accumulation of the minor deceased member.</p>
                                    <p><strong><a href="Forms/Form31.pdf">Form 31</a></strong>  Application for ADVANCE from Provident Fund.</p>
                                    <p><strong><a href="Forms/Form31_Declaration.pdf">Form 31 Declaration</a></strong>  Additional Declaration Form to be submitted while applying for Advance from PF for purchase or reconstruction or addition or alteration of a dwelling site / house / flat.</p>
                                    <p><strong><strong><a href="Forms/Pen_LCNM.pdf">Life Certificate/Non Re-Marriage Certificate</a></strong> to be submitted by a Pensioner.</strong>
                                    <p><strong> Advance Stamped Receipt</strong>
                                        <p><strong><strong><a href="Forms/Form_IW1.pdf">Statement IW-I</a></strong> for Employees qualifying for membership as International Workers</strong></pre>
          <p>If you need</a> any specific Form for a request to EPFO which is not listed here , write to Retirement India for assistance.</p>
        </section>

        <!-- .................................... $nomination .................................... -->
        <section class="section-content section-nomination" id="section-nomination">
          <h3 class="section-title">
            Nomination
            <small>for receiving provident fund amount</small>
          </h3>
          <p>Each member shall make in his declaration in Form 2, a nomination conferring the right to receive the amount that may stand to his credit in the Fund in the event of his death before the amount become payable or before payment has been made.</h3>
          <p>A member may in his nomination distribute the amount that may stand to his credit in the Fund amongst his nominees at his own discretion.</h3>
          <p>If a member has a family at the time of making a nomination, the nomination shall be in favour of one or more persons belonging to his family. Any nomination made by such member in favour of a person not belonging to his family shall be invalid.</p>
          <p>Provided that a fresh nomination shall be made by the member on his marriage and any nomination made before such marriage shall be deemed to be invalid.</h3>
          <p>If at the time of making a nomination the member has no family, the nomination may be in favour of any person or persons but if the member subsequently acquires a family, such nomination shall forthwith be deemed to be invalid and the member shall make a fresh nomination in favour of one or more persons belonging to his family.</h3>
          <p>Where the nomination is wholly or partly in favour of a minor, the member may appoint a major person of his family to be the guardian of the minor nominee . Provided that where there is no major person in the family, the member may, at his discretion, appoint any other person to be a guardian of the minor nominee.</h3>
          <p>A nomination made at any time be modified by a member after giving a written notice of his intention of doing so in Form [2].If a nominee predeceases the member, the interest of the nominee shall revert to the member who may make a fresh nomination in respect of such interest.</h3>

        </section>

        <!-- .................................... $Insurance .................................... -->
        <section class="section-content section-insurance" id="section-insurance">
          <h3 class="section-title">
            Insurance
            <small>payments under employee's deposit linked insurance scheme 1976</small>
          </h3>
          <p><a href="http://fancyapps.com/fancybox/">Assured Benefitsof EDLIS</a> shall become payable to such nominee or nominees as declared under EPF Act on the death of the member employee.</p>
          If no nomination subsists or if the nomination relates only to part of the amount standing to his credit in the Fund,the whole amount or the part thereof to which the nomination does not relate shall become payable to the members of his family in equal shares.</p>
          <p>Provided that no share shall be payable to –
            (a) sons who have attained majority;
            (b) sons of a deceased son who have attained majority;
            (c) married daughters whose husbands are alive;
            (d) married daughters of a deceased son whose husbands are alive.</p>

          <p>An employee‟s posthumous child, if born alive, shall be treated in the same way as a
            surviving child born before his death.
          </p>
                                <pre><p>Payment Procedure</p>The nominee/nominees/other claimants shall send a written application through the employer to claim payment under this Scheme.</p>
                                  <p>The claims, complete in all respects submitted along with the requisite documents shall be settled and benefit amount paid to the beneficiaries within thirty days from the date of its receipt by the Commissioner.</p>
                                <p>The payment may be made, at the option of the person to whom payment is to be made,(i) by postal money order, or (ii) by deposit in the payee‟s bank account . or (iii) by deposit in the payee's name (the whole or part of the amount) in the form of annuity term deposits scheme in any Nationalised Bank, or (iv) through the employer.</p></pre>
          <p>In case the Commissioner fails without sufficient cause to settle a claim complete in all respect within thirty days, the Commissioner shall be liable for the delay beyond the set period and penal interest 12% per annum may be charged on the benefit amount and the same may be deducted from the salary of the Commissioner.</p>
        </section>


        <!-- .................................... $UAN .................................... -->
        <section class="section-content section-uan" id="section-uan">
          <h3 class="section-title">
            UAN Cards
            <small>universal account numbers for all epf account holders</small>
          </h3>
          <p>EPFO is now alloting Universal Account Number (UAN) to all presently contributing members of the Organisation. Employers can now download the list of UAN numbers and provide it to their employees by accessing the UAN download list in the Employer UAN Portal of EPFO .</p>
          <p>The number will be seeded with KYCs (Know Your Customer) such as Aadhaar, NPR, PAN, Bank Account number, Driving licence, Passport, Election Card or Ration Card to make it more secure and thus facilitating portability.</p>
          <p>
          <pre>The UAN will be portable throughout the working career of members and can be used anywhere in India. Thus the workers in organised sector would not need to apply for transfer of PF account claim on changing jobs.</pre>
          <p>UAN will facilitate online submission of transfer claims by members with an objective to make the transfer transparent, efficient and comfortable for employees.The KYC details can be seeded to UAN by the employer.</p>
          <p>Individual members can also upload the data related to KYC on UAN portal through his or her individual login on member portal. The KYC furnished by the individual member can then be published for UAN database seeding.</p>
          <p><stron> Retirement India is the Help Desk for Employees as well as for Employers to facilitate this transition of tasks and assist through technology solutions the various operations of PF ,Pension & Insurance Accounts of members.</strong></p>
        </section>


        <!-- .................................... $Registration .................................... -->

        <section class="section-content section-content-sidebar"id="section-registration">
          <h3 class="section-title">
            Registrtion
            <small>get membership of Retirement India</small>
          </h3>
          <div class="row">
            <div class="span6">
              <h5>EPFO Member will get</h5>
              <address>
                Assistance in UAN Activtion,UAN Card
                <br> EPF e-Pass Book ( Print also every year)
                <br> Advise on taking Advance from PF
                <br> Advise on taking Withdrwal from PF
                <br> On-line FILLED IN Forms and e-filing
                <br> Calculaton of Pension & Insurance
                <br> Assistance to Family / Nominee in Withdrawal & Pension matters
                <br> On-Phone / SMS - Help-Desk
              </address>
              <p>  For any Query email / contact at</p>
              <p>
                <i class="icon-envelope"></i>
                <a href="mailto:raajgulati.retirementindia@gmail.com">epf.retirementindia@gmail.com</a>
                <br>
                <i class="icon-phone"></i>
                <a href="tel:+918687666222">(91) 8687 666 222</a>
              </p>
            </div>
          </div>

          <div class="accordion" id="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Register Here  :  Off line Mode - Post Paid</a>
              </div>
              <div class="accordion-body collapse in" id="collapseOne">
                <div class="accordion-inner"><address>
                  Fill-up Your Details and Submit.
                  <form class="form-verical" id="mail-form">
                    <div class="control-group">
                      <label for="mail-name-surname"></label>
                      <input class="span4" id="mail-name-surname" placeholder="name surname" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-pfnumber"></label>
                      <input class="span3" id="mail-pfnumber" placeholder="provident fund account number" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-mobilenumber"></label>
                      <input class="span3" id="mail-mobilenumber" placeholder="mobile number" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-address"></label>
                      <textarea class="span4" id="mail-address" name="address" placeholder="your correspondence address" rows="3"></textarea>
                      <label class="checkbox">
                        <input type="checkbox">
                        <small>I agree to terms & conditions of registration with Retirement India</small>
                      </label>
                      <button class="btn btn-primary" type="submit">Submit to Register</button>
                  </form>
                  <br>
                  <br> Retirement India Call Centre will contact you on your Mobile number.
                  <br> Get PF Book,UAN,Advisory details,KYC and Registration Form on your address through Courier / VPP ( Pay Rs.222/-plus courier charges only).
                  <br> Your Registration Number(and User id / password) with Retirement India will be issued.
                  <br> On-line services(2 Yrs.) at Your Own Log-in page at www.Retirement India.in
                  <br> Help-Desk for You & Your Family
                  <br> Just Dial at<strong> +91 8687 666 222.</strong>
                </address></div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Register Here  :  On line Mode - Prepaid</a>
              </div>
              <div class="accordion-body collapse" id="collapseTwo">
                <div class="accordion-inner">
                  Fill-up Your Details and Submit.
                  <form class="form-vertical" id="mail-form">
                    <div class="control-group">
                      <label for="mail-name-surname"></label>
                      <input class="span3" id="mail-name-surname" placeholder="name surname" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-pfnumber"></label>
                      <input class="span3" id="mail-pfnumber" placeholder="provident fund account number" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-mobilenumber"></label>
                      <input class="span3" id="mail-mobilenumber" placeholder="mobile number" type="text">
                    </div>
                    <div class="control-group">
                      <label for="mail-name-surname"></label>
                      <input class="span3" id="mail-dateofbirth" placeholder="birth date" type="date">
                    </div>
                    <div class="control-group">
                      <label for="mail-email"></label>
                      <input class="span3" id="mail-email" placeholder="email" type="email">
                    </div>
                    <div class="control-group">
                      <label for="mail-estabilishment"></label>
                      <textarea class="span4" id="mail-estabilishment" name="estabilishment" placeholder="estabilishment name & address - where you are working with" rows="2"></textarea>
                      <div class="control-group">
                        <label for="mail-address"></label>
                        <textarea class="span4" id="mail-address" name="address" placeholder="your correspondence address" rows="3"></textarea>
                        <div class="control-group">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to terms & conditions of registration with Retirement India
                          </label>
                          <button class="btn btn-primary" type="submit">Submit to Register</button>
                          <br>
                  </form>
                  <br> Retirement India Call Centre will contact you on your Mobile number after verification of submitted details.
                  <br> Pay Online Rs.222/-only for 2 Years membership or Rs.666/-for Life time membership.
                  <br> Your Registration Number(and User id) with Retirement India will be issued and sent on your email.
                  <br> Password will be sent through SMS on your Mobile Number.
                  <br> Get On-line services at Your Own Log-in page at www.Retirement India.in
                  <br> Help-Desk is available for You & Your Family.
                  <br> Just Dial at<strong> +91 8687 666 222.</strong>
                  </address></div>
              </div>
            </div>
          </div>

          <aside>

      </div>
  </section>
</div>
</div>
</div>
</section>
</div>
</div>
</section>
</aside>




