
  <!-- .................................... $background slider .................................... -->
  <ul id="cbp-bislideshow" class="cbp-bislideshow hidden-phone">
    <li><img src="/img/gallery/01.jpg" alt=""/></li>
    <li><img src="/img/gallery/02.jpg" alt=""/></li>
    <li><img src="/img/gallery/03.jpg" alt=""/></li>
    <li><img src="/img/gallery/04.jpg" alt=""/></li>
  </ul>
  <div id="cbp-bicontrols" class="cbp-bicontrols hidden-phone">
    <span class="cbp-biprev"></span>
    <span class="cbp-bipause"></span>
    <span class="cbp-binext"></span>
  </div>


  <!-- .................................... $intro .................................... -->
  <section class="section-content section-intro" id="section-intro">
    <div class="row">
      <div class="span8">
        <h1 class="section-title">
          Retirement India
          <small><strong>the counselling service for employees and their families</strong></small>
          <small>Select Your Portfolio</small>
        </h1>
        <div class="span8">
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <figure class="hover-figcaption">
                  <a class="fancybox" data-fancybox-group="group" href="/img/gallery/knowyourepf.png">
                    <img alt="" src="/img/gallery/knowyourepf.png">
                    <div class="figcaption">
                      <small>EPFO Members</small>
                    </div>
                  </a>
                </figure>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <figure class="hover-figcaption">
                  <a class="fancybox" data-fancybox-group="group" href="/img/gallery/retiringemployeeb.png">
                    <img alt="" src="/img/gallery/retiringemployeeb.png">
                    <div class="figcaption">
                      <small>Retiring Employees</small>
                    </div>
                  </a>
                </figure>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <figure class="hover-figcaption">
                  <a class="fancybox" data-fancybox-group="group" href="/img/gallery/retired.png">
                    <img alt="" src="/img/gallery/retired.png">
                    <div class="figcaption">
                      <small>Retired Employees</small>
                    </div>
                  </a>
                </figure>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <figure class="hover-figcaption">
                  <a class="fancybox" data-fancybox-group="group" href="/img/gallery/pensioner.png">
                    <img alt="" src="/img/gallery/pensioner.png">
                    <div class="figcaption">
                      <small>(Family) Pensioners</small>
                    </div>
                  </a>
                </figure>
              </div>

  </section>

  <div class="row">
    <div class="span4">
      <h4><i class="icon-hand-right"></i><strong>
        Know your Benefits</strong></h4>
      <p>Provident Fund , Retirement Dues & Pensionary Provisions</p>
    </div>
    <div class="span4">
      <h4><i class="icon-hand-right"></i><strong>Manage Funds</strong></h4>
      <p>PF & NPS Funds , Retirement Receipts , Deposits </p>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4><i class="icon-hand-right"></i><strong>Our Services</strong></h4>
      <p>Calculations, Liasioning & Follow-up for EPFO Members , Employees, Pensioners & Employers</p>
    </div>
    <div class="span4">
      <h4><i class="icon-hand-right"></i><strong>Help-Desk @ +91 8687 666 222</strong></h4>
      <p>for Retiring / Retired Employees & Pensioners / Family Pensioners in India.</p>
    </div>
    </div>
  <a class="btn btn-primary btn-medium" <a href="Registration2.html" role="button">Click for Retirement India membership ( Open for EPFO Members )</a>

  </section>
