

  <!-- .................................... $news .................................... -->
  <section class="section-content section-news" id="section-news">
    <h2 class="section-title">News & Articles</h2>
    <div class="row">
      <div class="span9">
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item.html">
                <img alt="" src="/img/gallery/epfman.jpg">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item.html">Know Your EPF</a>
            </h4>
            <p>Though it keeps a low profile, Employees' PF is one of the most effective ways to save for retirement. Find out how you can gain big from it.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item.html">
                <img alt="" src="/img/gallery/newepf.jpg">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item2.html">New EPF Notified</a>
            </h4>
            <p>Minimum Monthly Pension is Rs 1,000 to subscribers of the Employees’ Pension Scheme.Fresh provisions to cap the number of beneficiaries - only those workers whose starting salary is Rs 15,000 or less will be eligible to become members of the EPS.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item.html">
                <img alt="" src="/img/gallery/pension 1000.png">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item3.html">Base pension sum under EPFO now Rs 1,000 per month</a>
            </h4>
            <p>The minimum Rs 1,000 monthly pension under the Employees' Pension Scheme 1995 (EPFS-95) w.e.f Sept 1 2004. </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item4.html">
                <img alt="" src="/img/gallery/uan1s.png">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item4.html">UAN : How it works ?</a>
            </h4>
            <p>The UAN is a universal account number allotted to subscribers of Provident Fund issued by retirement fund body (EPFO). This unique number will be portable throughout the working career of employees. That means no new PF account on changing jobs.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item5.html">
                <img alt="" src="/img/gallery/uan4s.png">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item5.html">Your Guide to Make Your EPF Account Portable</a>
            </h4>
            <p>Here is how to go about acquiring your UAN and how to use it ? </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="span3">
            <figure>
              <a href="news-item.html">
                <img alt="" src="/img/gallery/06.jpg">
              </a>
            </figure>
          </div>
          <div class="span6">
            <h4>
              <a href="news-item.html">In dicta</a>
            </h4>
            <p>Nihil cum eius quis minus dignissimos reiciendis recusandae officiis perferendis nobis debitis facere temporibus magni qui molestiae atque ex rem in labore!</p>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="span9">
        <div class="pagination">
          <ul>
            <li class="disabled">
              <a href="#">Prev</a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


