

  <!-- .................................... $Content .................................... -->
  <section class="section-content">
    <div class="row">
      <div class="span3 documentation-nav affix hidden-phone">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#section-FAQ">

            <i class="icon-angle-right pull-right"></i>
            Know Your Retirement Benefits
          </a></li>

          <li><a href="#section-glossary">
            <i class="icon-angle-right pull-right"></i>
            Glossary
          </a></li>

          <li><a href="#section-gratuity">
            <i class="icon-angle-right pull-right"></i>
            Gratuity
          </a></li>

          <li><a href="#section-EL">
            <i class="icon-angle-right pull-right"></i>
            Earn Leaves Encashment
          </a></li>

          <li><a href="#section-pensionapply">
            <i class="icon-angle-right pull-right"></i>
            Pension
          </a></li>

          <li><a href="#section-pension-types">
            <i class="icon-angle-right pull-right"></i>
            Commutation of Pension
          </a></li>

          <li><a href="#section-pension-amount">
            <i class="icon-angle-right pull-right"></i>
            Provident Fund
          </a></li>

          <li><a href="#section-penserbenefit">
            <i class="icon-angle-right pull-right"></i>
            Group Insurance Savings Fund
          </a></li>

          <li><a href="#section-ta">
            <i class="icon-angle-right pull-right"></i>
            TA to Place of Settlement
          </a></li>

          <li><a href="#section-qtr">
            <i class="icon-angle-right pull-right"></i>
            Retention of Quarter
          </a></li>

          <li><a href="#section-cea">
            <i class="icon-angle-right pull-right"></i>
            CEA & Hostel Subsidy
          </a></li>

          <li><a href="#section-medical">
            <i class="icon-angle-right pull-right"></i>
            Medical Card & Benefits
          </a></li>

          <li><a href="#section-nomination">
            <i class="icon-angle-right pull-right"></i>
            Nomination

            <li><a href="#section-appointment">
              <i class="icon-angle-right pull-right"></i>
              Compassionate Appointment
            </a></li>

            <li><a href="#section-forms">
              <i class="icon-angle-right pull-right"></i>
              Forms
            </a></li>

      </div>


      <div class="span7 offset3">
        <section class="section-content section-Gratuity" id="section-Gratuity">
          <h2 class="section-title">On Retirement You will get : </h2>
          <div class="row">
            <div class="span9 tabbable tabs-left">
              <ul class="nav nav-tabs hidden-phone" id="myTab">
                <li class="active">
                  <a data-toggle="tab" href="#Gratuity">
                    <i class="icon-folder-open icon-padded icon-3x pull-left"></i>
                    <strong>Gratuity</strong>
                    <br>
                    For Service Period
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#El">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>Earn Leaves Encashment</strong>
                    <br>
                    Upto 300 Days
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#uno">
                    <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                    <strong>Pension</strong>
                    <br>
                    For GPF A/C Holders
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#due">
                    <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                    <strong>Commutation of Pension</strong>
                    <br>
                    Lumpsum Amount
                  </a>
                </li>

                <li>
                  <a data-toggle="tab" href="#withdrawal">
                    <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                    <strong>Final GPF Amount</strong>
                    <br>
                    Your Own Funds + Interest
                  </a>
                </li>

                <li>
                  <a data-toggle="tab" href="#Job">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>GIS Fund</strong>
                    <br>
                    Upto 300 Days
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#Job">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>TA to Place of Settlement</strong>
                    <br>
                    Upto
                  </a>
                </li>
                <li>
                  <a data-toggle="tab" href="#Job">
                    <i class="icon-group icon-padded icon-3x pull-left"></i>
                    <strong>Other Benefits</strong>
                    <br>
                    Upto
                  </a>
                </li>

              </ul>
              <div class="span5 tab-content">



                <div class="tab-pane" id="uno">
                  <br>
                  <h3>Whether contribution to EPF mandatory ? </h3>
                  <p>For those who have a basic salary up to Rs. 6500, contributing to the EPF is mandatory. Contributions are voluntary for those whose basic salary exceeds Rs. 6,500. However, it is strongly recommended to make such contributions to avail of the various benefits an EPF account has.</p>
                  <p>
                    <a class="btn btn-primary" href="#section-html5-css3">Where does my monthly EPF contribution go ? </a>
                  </p>
                </div>
                <div class="tab-pane" id="due">
                  <br>
                  <h3>An employee's monthly contribution would go into the following three schemes </h3>
                  <ul>
                    <li>EPF (Employees Provident Fund Act 1952) : 15.67 % Of Monthly Wages</ii>
                    <li>EPS (Employees' Pension Scheme), 1995 : 8.33 % of Monthly Wages</li>
                    <li>EDLIS (Employees' Deposit Linked Insurance Scheme 1976) : 0.5 % of Monthly Wages</li>
                  </ul>
                  <p>
                    <a class="btn" href="#section-html5-css3">View details</a>
                  </p>
                </div>
                <div class="tab-pane" id="withdrawal">
                  <br>
                  <h3>For Education, Marriage, Purchase of a house, Medical emergencies.</h3>
                  <ul>
                    <p>Purposes: Children's education, Marriage of self/children/siblings, Purchase/construction of a house, Medical emergencies.</p>
                    <li>Should have completed minimum seven years of service.</li>
                    <li>Withdrawal can be made only three times in the period during which you hold the EPF account</li>
                    <li>Maximum aggregate withdrawal would be 50 per cent of the total contributions made by you.</li>
                    <li>For medical emergencies, there is no minimum service period. However, the maximum amount one can withdraw is six times the basic salary and proof of hospitalization is required.</li>
                    <li>Withdrawal from EPF account for purchase/construction of a house is available only once in an individual's entire working life. The minimum service period is five years and the maximum withdrawal amount is 36 times your total salary (for construction of property) and 24 times (for purchase of property).</li>
                    <li>Withdrawal is subject to certain conditions, non-compliance of which would result in penal interest.</li>
                  </ul>
                  <p>
                    <a class="btn btn-primary" href="#section-hoverdir">Download Forms</a>
                  </p>
                </div>
                <div class="tab-pane" id="El">
                  <br>
                  <h3>Change or Quit a Job without joining elsewhere</h3>
                  <p>What to do when you change job? What should be done if you quit job without joining elsewhere? </p>
                  <p>At such times, the PF balance could be transferred from one employer to another. The existing balance would continue to stay, with fresh contributions made by the new employer. When you quit your job, the PF could be withdrawn. You need to provide a declaration that you do not intend to work for the next six months.</p>
                </div>
                <div class="tab-pane active" id="Gratuity">
                  <br>
                  <h3>Gratuity for the period of service you have put in</h3>
                  <p>Amount is calculated based on number of completed years of service</p>
                  <i><p><strong>Retirement Gratuity : </strong>Admissible to an Employee who retires from employment AFTER completing FIVE years of Qualifying Service.</p></il>
                    <i><p><strong>Service Gratuity : </strong>Lmpsum payment to a permanent Employee who retires from employment BEFORE completing TEN years of Qualifying Service.</p></il>
                      <i><p><strong>Death Gratuity : </strong>Admissible for an Employee who dies during the service.This is paid to his nominee.</p></il>
                        <i><p><strong>Residuary Gratuity : </strong>Admissible when Employee dies within FIVE years after Retirement , subject to certain conditions. This is paid to his nominee.</p></il><p>
                          <a class="btn btn-primary" href="#section-hoverdir">Know More About Gratuity</a>
                        </p>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- .................................... $Glossary .................................... -->
        <section class="section-content section-glossary" id="section-glossary">
          <h3 class="section-title">
            Provident & Pension Fund
            <small>
              Know your
              <i>Employees Provident Fund & Family Pension Act 1952 - the glossary</i>
            </small>
          </h3>
          <p><strong>“Employee”</strong> means any person who is employed for wages in any kind of work, manual or otherwise, in or in connection with the work of an establishment and who gets his wages directly or indirectly from the employer.</p>
          <p><strong>“Family”</strong> means (i) in the case of a male member, his wife, his children, whether married or unmarried, his dependant parents and his deceased son’s widow and children and (ii) in the case of a female member, her husband, her children, whether married or unmarried, her dependant parents, her husband’s dependant parents and her deceased son’s widow and children</p>
          <p><strong>“Basic Wages”</strong> means all emoluments which are earned by an employee while on duty or on leave or on holidays with wages - in accordance with the terms of the contract of employment and which are paid or payable in cash to him</p>
          <p><strong>“Superannuation”</strong> means the attainment, by the said employee, of the age of fifty-eight years.</p>
          <p><strong>“Contribution”</strong> means a contribution payable in respect of an employee to whom the Scheme applies </p>
          <p><strong>“Assurance Benefit”</strong> means a payment linked to the average balance in the Provident Fund Account of an employee, payable to a person belonging to his family or otherwise entitled to it in the event of death of the employee while being a member of the Fund.</p>
        </section>
        <!-- .................................... $Gratuity .................................... -->
        <section class="section-content section-gratuity" id="section-gratuity">
          <h3 class="section-title">
            Gratuity for you or Your family
            <small>...applicable if Employee is appointed on or before 31st December 2003</small>
          </h3>
          <p><strong>Gratuity</strong> is a Lumpsum amount payable on Retirement (to the Employee) or in the event of death of Employee in service (to his/her Family).</p>
          <p> Gratuity amount is based on <strong> Length of Qualifying Service </strong> and the <strong> Last Pay drawn</strong> by the Employee.</p>
          <p>If Employee has NOT put in TEN years of Qualifying service at the time of Retirement , he will NOT get Pension. Instead he will get <strong> SERVICE GRATUITY </strong></p>
          <p><strong>Calculation Formula for Service Gratuity : Number of every completed six-monthly period of service X Half-month's Emoluments</strong></p>
          <p><li> Service Gratuity is in ADDITION to Retirement Gratuity (if payable- as explained below).</li></p>
          <p><strong>RETIREMENT GRATUITY</strong> is paid to
          <p><li> A <strong> Permanent </strong> Employee who has put in FIVE years or more years of Qualifying service at the time of Retirement </li></p>
          <p><li>A <strong> Temporary </strong> Employee who has put in TEN years or more years of Qualifying service at the time of retiring on attaining the age of superannuation or on invalidation. </li></p>
          <p><strong> IMPORTANT : </strong> Retirement Gratuity may <strong> Lapse </strong> in the event of death of employee - AFTER retirement BUT before receiving the Gratuity<p>
          <li> If he leaves behind NO family ,or
          <li> If no Nomination has been made .or
          <li> If Nomination done BUT Nominee does not subsist</li>
          In above cases Retirement Gratuity will be paid to THE person who produces a SUCCESSION CERTIFICATE from a Court of Law , else Retirement Gratuity will lapse.</p>

          <div class="col-md-9 col-sm-9 col-lg-9">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <p> To whom the Leave Encashment is payable in case of death of Employee ?</p>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <p>In the event of death of Employee AFTER retirement or final cessation of duty BUT before actual receipt of Cash Equivalent of Leave Salary , the amount will be paid to any of his Family in following order.</p>
                <li> To the Widow / Husband as the case may be.</li>
                <li> To the Eldest Surving Widow - if there are more than one widow . Seniority will be decided with respect to date of marriage and not with reference to their age.</li>
                <li> else To the Eldest Surviving Son or an adopted son.</li>
                <li> else To the Eldest Surviving unmarried daughter.</li>
                <li> else To the Eldest Surviving widowed daughter.</li>
                <li> else To the Father.</li>
                <li> else To the Mother.</li>
                <li> else To the Eldest Surviving Brother below the age of 18 years.</li>
                <li> else To the Eldest Surviving nmarried Sister.</li>
                <li> else To the Eldest Surviving widowed Sister.</li>
                <li> else To the Eldest Surviving married Daughter.</li>
                <li> else To the Eldest Child of the eldest pre-deceased son.</li></p>
              </div>
            </div>
          </div>






          <p> Employee is entitle to get <strong> INTEREST ON DELAYED PAYMENTS </strong> of Gratuity amount if the delay is beyond 3 months due to any administrative lapse. Interest rate will be GPF Interest rate compounded annually.</p>
          <p> If payment of Gratuity is <strong> WITHHELD</strong> due to any pending departmental / judiciary proceedings and Employee is exonerated on conclusion of proceedings , Interest on due Gratuity amount will stand payable at GPF interest rate compounded annually.</p>
          <p><li>Retirement Gratuity is NOT Taxable under Income Tax Rules.</li>
          <li>Retirement Gratuity amount is NOT liable to Court attachment under the provisions of Code of Civil Procedures.</li>
          <li>Govt.dues if any , at the time of retirement MAY be RECOVERED WITHOUT EMPLOYEE's CONSENT from gratuity amount.</li></p>


        </section>

        <!-- .................................... $EL .................................... -->
        <section class="section-content section-EL" id="section-EL">
          <h3 class="section-title">
            Encashment of Earn Leaves & HPL
            <small>for the leaves in balance as on last day of service</small>
          </h3>
          <p>One time Lumpsum payment of Cash equivalent of Leave Salary admissible for the days of EARNED leaves and Half-Pay Leaves - put together on the last day of service , subject to a maximum of 300 days.</p>
          <p><strong> Leave Encashment is granted when</strong>
          <p><li> Employee retires from service on attaining the age of superannuation.</li>
          <li> Employee gets an extension of service - beyond superannuation in public interest</li>
          <li> Employee under suspension or disciplinary or criminal proceeding pending on the date of superannuation - if Authority has a view that there is no probability of any amount recoverable on conclusion of proceedings.</li>
          <li> Employee is Invalidated from services on Medical grounds.</li>
          <li> Employee takes Premature Retirement under the provisions of Financial Rules ( 56 j or l ) or CCS (Pension) rules (48).</li>
          <li> Employee takes Voluntary Retirement under the provisions of Financial Rules ( 56 k or m ) or CCS (Pension) rules (48 / 48 A).</li>
          <li> Employee resigns on his own accord.Cash equivalent will be only to the extent of half of the earned leave at credit subject to a maximum of 150 days.</li>
          <li> Employee is retired Compulsury as a measure of penalty evn if reduction of pension is ordered.</li>
          <li> Termination of service by giving notice or by paying pay & allowances in lieu of notice or in accordance with the terms & conditions of employment.</li>
          <li> Termination of service on Re-employment. The period for which Leave Encashment was allowed by previous employer will be CLUBBED with overall ceiling of 300 days of Leave Encashment allowed on date of retirement.</li>
          <p><strong>Calculation Formula for Leave Encashment : </strong></p>
          <p><strong> IMPORTANT : </strong></p>
          <li> Pay + Personal Pay + Dearness Allowance as admissible on the last day of service is taken into account for calculation purposes. Personal Pay for promoting small family norms and Personal Pay for passing of Hindi Examination are EXCLUDED for the said purposes.</li>
          <li> Any increase in DA rates with retrospective effect will be taken into calculation and payment of arrears to Employee.</li>
          <li> EL Encashment taken on availing LTC is NOT taken into consideration while putting ceiling of maximum 300 days of EL encashment.</li>
          <li> Cash Equivalent of leave salary - up to TEN months is NOT liable to Income Tax.</li>

        </section>

        <!-- .................................... $pensionapply .................................... -->
        <section class="section-content section-pensionapply" id="section-pensionapply">
          <h3 class="section-title">
            When Pension may be applied ?
            <small>there are Four Situations when Pension may be applied for</small>
          </h3>
          <p>There are Four Pensions -  <strong>Superannuation , Early Pension , Family Pension & Disability Pension</strong> which may be availed by a Member and his/her Family.</p>
                                                            <pre>
                            1- On Superannuation i.e. on attaining age of 58 years PROVIDED at least 10 years of service has been completed.
                            On attaining 58 Years of age, EPF member ceases to be a member of EPS automatically.
                            The member can CONTINUE in service while receiving Superannuation pension.</p>
                                                              2- Before Superannuation i.e. on attaining age of 50 years PROVIDED at least 10 years of service has been completed and member has NOT attained age of 58 years.
                            The member opting Early Pension should not be in service.</p>
                                                              3- On Death of a member whether Member is in service or NOT in service - Nominated Family person will get Pension i.e. Family Pension.</p>
                                                              4- On Permanent disability i.e. when a member is Permanently and totally unfit for the employment which the member was doing at the time of such disablement.</pre>
          <p>•    No pensioner can receive more than one EPF Pension.</p>
        </section>

        <!-- .................................... $pension-types .................................... -->
        <section class="section-content section-pension-types" id="section-pension-types">
          <h3 class="section-title">
            Which Type of Pension You will get ?
            <small>Check Types of Pension - admissible under given circumstances</small>
          </h3>
          <p> <strong>Superannuation Pension</strong> •   If superannuating at age of 58 years or more
            •   and has completed 20 years or more years of service.</p>
          <p> <strong>Retirement Pension</strong>     •   If age is between 50 and 58 years on the date of Retirement
            •   and has completed 20 years or more years of service.</p>
          <p> <strong>Short Service (Cessation) / Early Pension</strong> •    If age is above 50 years < less than 58 years
            •   and has completed 10 to 20 years of service.</p>
          <p> <strong>Family Pension if member died while in service</strong> •   Provided he has put in at least 1 month service
            •   If nominated his/her spouse for Family Pension while alive.</p>
          <p> <strong>Family Pension if member died while away from Service ( not in service)</strong> •  If there is no family member,- neither Father nor Mother nor wife nor children
            •   Member can nominate a person while in service.</p>
          <p> <strong>Parent Pension</strong>         •   If no family member neither wife nor children are there.
            •   If there is no Nomination , Parent Pension is admissible to  one of the Dependent Parent if alive</p>
          <p> <strong>Disability Pension</strong>     •   Certificate to the effect of permanent and 100% disability should be produced.</p>
          <p>
        </section>



        <!-- .................................... $pension-amount .................................... -->
        <section class="section-content section-pension-amount" id="section-pension-amount">
          <h3 class="section-title">
            Pension Amount
            <small>for those who have joined EPF after 15.11.95</small>
          </h3>
          <p>A member who has joined EPF Scheme AFTER 15.11.1995 will get EITHER Pension OR Pensionable Service Benefits - as the case may be.</p>
                                <pre><p>The formula of calculation of pension is similar to that of a Govt.Employee.</p>
                                     <p>Average Salary   X   Service Years Divided by 70</p>
                                     <p>Maximum service for the calculation of service is 35 yrs. If a member has maximum service, pension will be - Average Salary divided by 2</p>
                                     <p>The Average Salary is named as pensionable salary in the scheme. It is arrived by considering the average contributing salary preceding 12 months from the date of exit.</p></pre>

          <p>If no wage is earned for a certain period, that period is to be deducted from the service (as there will be no contribution to Pension Fund) </p>
        </section>

        <!-- .................................... $PenSerBenefit .................................... -->
        <section class="section-content section-penserbenefit" id="section-penserbenefit">
          <h3 class="section-title">
            Pensionable Service Benefits
            <small>if exiting EPF Scheme before attaining age of 58 years.</small>
          </h3>
          <p><strong><a href="http://flexslider.woothemes.com/">Pensionable Service Benefit</a></strong> is for a member who is leaving job before attaining age of 58 years.</p>
                                                            <pre>Pensionable Service benefit= 
                                    ( Pensionable salary   X   Pensionable service ) Divided by 70 

                            Subject to minimum of Rs.335, Rs. 438, Rs.635 for receiving early pension ( before 58 years ) for date of commencement of pension between 

                            a.  01/04/1993 and 15/11/2000 (Rs. 335/-)
                            b.  16/11/2000 and 15/11/2005 (Rs.438/-)
                            c.  16/11/2005 onward respectively. 
                            AND 
                            Subject to minimum of Rs.635, Rs.438, Rs.335 for receiving pension on or after 58 years for date of commencement of pension between 01/04/1993 and 15/11/2000, 16/11/2000 and 15/11/2005, 16/11/2005 respectively. 
                            </pre>

        </section>
        <!-- .................................... $withdrawal .................................... -->
        <section class="section-content section-withdrawal" id="section-withdrawal">
          <h3 class="section-title">
            Withdrawal Benefits
            <small>align everything</small>
          </h3>
          <p>If your total service is less than 9.5 years, you can apply for Pension Fund Money back (Withdrawal benefit). As you are not entitled for pension, you may withdraw the deposit amounts. </p>
                                <pre><p>The Withdrawal benefit calculation (as in the case of Pension Calculation) is depending on Average salary and total service,</p> 
                                     <p>It is NOT related to your actual Balance in Pension Fund.</p></pre>
          <p>EPF Pension scheme is very liberal insurance to your life after job.In case you die before 58 years of age after contributing to EPF Pension scheme for at least 1 year, your family is entitled for Pension. </p>
          <p>You can add services at different companies by applying for Scheme certificate, and if your total service is at least 10 years, you can get pension from the age of 50 years on wards.</p>
        </section>

        <!-- .................................... $Forms .................................... -->
        <section class="section-content section-forms" id="section-forms">
          <h3 class="section-title">
            Forms - Download
            <small>check and download Forms for various purposes</small>
          </h3>
          <p>Choose the purpose of application, "CLICK FORM NUMBER" and download the Form. Registered User shall Log-in to his Account and Download the FILLED-in required Form.</p>
                                <pre>
                                    <p><strong><a href="Forms/Form5IF.pdf">Form 5 IF</a></strong> To be preferred by the person eligible to receive the Employees Provident Fund dues of the deceased member who died while in services.</p>
                                    <p><strong><a href="Forms/Form10C.pdf">Form 10 C</a></strong>  For Claiming Refund of Employer share ,Withdrawl benefit ,Scheme certificate for retention of membership.</p>
                                    <p><strong><a href="Forms/Form10D.pdf">Form 10 D</a></strong>  To be submitted by the first claimant i.e. member or widow/widower or orphan or nominee as the case may be.</p>
                                    <p><strong><a href="Forms/Form13.pdf">Form 13 D</a></strong>  For transferring the Provident Fund account of a member from one establishment to another establishment covered under the act / scheme.</p>
                                    <p><strong><a href="Forms/Form14.pdf">Form 14 D</a></strong>  Application for financing a life insurance policy out of Provident Fund account.</p>
                                    <p><strong><a href="Forms/Form19.pdf">Form 19 D</a></strong>  To be submitted by a member to withdraw his Provident Fund dues on leaving service/retirement/termination</p>
                                    <p><strong><a href="Forms/Form20.pdf">Form 20</a></strong>  To be submitted by guardian of a minor / lunatic member, nominee or a legal heir of a deceased member,by guardian of the minor / lunatic nominee or heir for claiming PF accumulation of the minor deceased member.</p>
                                    <p><strong><a href="Forms/Form31.pdf">Form 31</a></strong>  Application for ADVANCE from Provident Fund.</p>
                                    <p><strong><a href="Forms/Form31_Declaration.pdf">Form 31 Declaration</a></strong>  Additional Declaration Form to be submitted while applying for Advance from PF for purchase or reconstruction or addition or alteration of a dwelling site / house / flat.</p>
                                    <p><strong><strong><a href="Forms/Pen_LCNM.pdf">Life Certificate/Non Re-Marriage Certificate</a></strong> to be submitted by a Pensioner.</strong>
                                    <p><strong> Advance Stamped Receipt</strong>
                                        <p><strong><strong><a href="Forms/Form_IW1.pdf">Statement IW-I</a></strong> for Employees qualifying for membership as International Workers</strong></pre>
          <p>If you need</a> any specific Form for a request to EPFO which is not listed here , write to Retirement India for assistance.</p>
        </section>

        <!-- .................................... $nomination .................................... -->
        <section class="section-content section-nomination" id="section-nomination">
          <h3 class="section-title">
            Nomination
            <small>for receiving provident fund amount</small>
          </h3>
          <p>Each member shall make in his declaration in Form 2, a nomination conferring the right to receive the amount that may stand to his credit in the Fund in the event of his death before the amount become payable or before payment has been made.</h3>
          <p>A member may in his nomination distribute the amount that may stand to his credit in the Fund amongst his nominees at his own discretion.</h3>
          <p>If a member has a family at the time of making a nomination, the nomination shall be in favour of one or more persons belonging to his family. Any nomination made by such member in favour of a person not belonging to his family shall be invalid.</p>
          <p>Provided that a fresh nomination shall be made by the member on his marriage and any nomination made before such marriage shall be deemed to be invalid.</h3>
          <p>If at the time of making a nomination the member has no family, the nomination may be in favour of any person or persons but if the member subsequently acquires a family, such nomination shall forthwith be deemed to be invalid and the member shall make a fresh nomination in favour of one or more persons belonging to his family.</h3>
          <p>Where the nomination is wholly or partly in favour of a minor, the member may appoint a major person of his family to be the guardian of the minor nominee . Provided that where there is no major person in the family, the member may, at his discretion, appoint any other person to be a guardian of the minor nominee.</h3>
          <p>A nomination made at any time be modified by a member after giving a written notice of his intention of doing so in Form [2].If a nominee predeceases the member, the interest of the nominee shall revert to the member who may make a fresh nomination in respect of such interest.</h3>

        </section>

        <!-- .................................... $Insurance .................................... -->
        <section class="section-content section-insurance" id="section-insurance">
          <h3 class="section-title">
            Insurance
            <small>payments under employee's deposit linked insurance scheme 1976</small>
          </h3>
          <p><a href="http://fancyapps.com/fancybox/">Assured Benefitsof EDLIS</a> shall become payable to such nominee or nominees as declared under EPF Act on the death of the member employee.</p>
          If no nomination subsists or if the nomination relates only to part of the amount standing to his credit in the Fund,the whole amount or the part thereof to which the nomination does not relate shall become payable to the members of his family in equal shares.</p>
          <p>Provided that no share shall be payable to –
            (a) sons who have attained majority;
            (b) sons of a deceased son who have attained majority;
            (c) married daughters whose husbands are alive;
            (d) married daughters of a deceased son whose husbands are alive.</p>

          <p>An employee‟s posthumous child, if born alive, shall be treated in the same way as a
            surviving child born before his death.
          </p>
                                <pre><p>Payment Procedure</p>The nominee/nominees/other claimants shall send a written application through the employer to claim payment under this Scheme.</p>
                                  <p>The claims, complete in all respects submitted along with the requisite documents shall be settled and benefit amount paid to the beneficiaries within thirty days from the date of its receipt by the Commissioner.</p>
                                <p>The payment may be made, at the option of the person to whom payment is to be made,(i) by postal money order, or (ii) by deposit in the payee‟s bank account . or (iii) by deposit in the payee's name (the whole or part of the amount) in the form of annuity term deposits scheme in any Nationalised Bank, or (iv) through the employer.</p></pre>
          <p>In case the Commissioner fails without sufficient cause to settle a claim complete in all respect within thirty days, the Commissioner shall be liable for the delay beyond the set period and penal interest 12% per annum may be charged on the benefit amount and the same may be deducted from the salary of the Commissioner.</p>
        </section>


        <!-- .................................... $UAN .................................... -->
        <section class="section-content section-uan" id="section-uan">
          <h3 class="section-title">
            UAN Cards
            <small>universal account numbers for all epf account holders</small>
          </h3>
          <p>EPFO is now alloting Universal Account Number (UAN) to all presently contributing members of the Organisation. Employers can now download the list of UAN numbers and provide it to their employees by accessing the UAN download list in the Employer UAN Portal of EPFO .</p>
          <p>The number will be seeded with KYCs (Know Your Customer) such as Aadhaar, NPR, PAN, Bank Account number, Driving licence, Passport, Election Card or Ration Card to make it more secure and thus facilitating portability.</p>
          <p>
          <pre>The UAN will be portable throughout the working career of members and can be used anywhere in India. Thus the workers in organised sector would not need to apply for transfer of PF account claim on changing jobs.</pre>
          <p>UAN will facilitate online submission of transfer claims by members with an objective to make the transfer transparent, efficient and comfortable for employees.The KYC details can be seeded to UAN by the employer.</p>
          <p>Individual members can also upload the data related to KYC on UAN portal through his or her individual login on member portal. The KYC furnished by the individual member can then be published for UAN database seeding.</p>
          <p><stron> Retirement India is the Help Desk for Employees as well as for Employers to facilitate this transition of tasks and assist through technology solutions the various operations of PF ,Pension & Insurance Accounts of members.</strong></p>
        </section>


        <!-- .................................... $Registration .................................... -->

        <section class="section-content section-content-sidebar"id="section-registration">
          <h3 class="section-title">
            Registrtion
            <small>get membership of Retirement India</small>
          </h3>
          <div class="row">
            <div class="span4">
              <h5>Member will get</h5>
              <address>
                Assistance in UAN Activtion,UAN Card
                <br> EPF e-Pass Book ( Print also every year)
                <br> Advise on taking Advance from PF
                <br> Advise on taking Withdrwal from PF
                <br> On-line FILLED IN Forms and e-filing
                <br> Calculaton of Pension & Insurance
                <br> Assistance to Family / Nominee in Withdrawal & Pension matters
                <br> On-Phone / SMS - Help-Desk
              </address>
              <p>  For any Query email / contact at</p>
              <p>
                <i class="icon-envelope"></i>
                <a href="mailto:raajgulati@gmail.com">retirementindia.in@gmail.com</a>
                <br>
                <i class="icon-phone"></i>
                <a href="tel:+918601894895">(91) 8601 894 895</a>
              </p>
            </div>
          </div>

          <aside>
            <div class="span4">
              <h5>Fill in Your details and SUBMIT</h5>
              <form class="form-vertical" id="mail-form">
                <div class="control-group">
                  <label for="mail-name-surname"></label>
                  <input class="span4" id="mail-name-surname" placeholder="Name Surname" type="text">
                  <span class="help-inline">Insert name and surname</span>
                </div>
                <textarea class="span3" id="mail-message" name="mobile" placeholder="Mobile Number" rows="1"></textarea>
                <div class="control-group">
                  <label for="mail-email"></label>
                  <input class="span3" id="mail-email" placeholder="email" type="email">
                  <span class="help-inline">Insert valid email or Insert XYZ@retirementindia.in</span>
                </div>
                <textarea class="span3" id="mail-message" name="dob" placeholder="Date of Birth" rows="1"></textarea>
                <textarea class="span3" id="mail-message" name="pf-number" placeholder="EPF Account Number" rows="1"></textarea>
                <textarea class="span4" id="mail-message" name="working-with" placeholder="Employer(Agency Name & Address)" rows="3"></textarea>
                <textarea class="span3" id="mail-message" name="uan" placeholder="UAN Number (if available)" rows="1"></textarea>


                <label for="mail-message"></label>

                <textarea class="span4" id="mail-message" name="address" placeholder="Correspondense Address" rows="3"></textarea>

                <label class="checkbox">
                  <input type="checkbox">
                  Sign up for Acceptance of Terms & Conditions
                </label>
                <button class="btn btn-primary" type="submit">SUBMIT to get REGISTERED</button>
              </form>
            </div>
      </div>
  </section>
</div>
</div>
</div>
</section>
</div>
</div>
</section>
</aside>
<!-- .................................... $TABS .................................... -->

