


  <!-- .................................... $FlexSlider .................................... -->
  <section class="section-content section-flexslider" id="section-flexslider">
    <h2 class="section-title">
      Retirement Planning : A Tricky Issue
      <small>Retirement Money is the money You save TODAY for ToMorrow.</small>
    </h2>
    <ul class="nav nav-tabs">
      <li class="active dummyclass"><a href="#rmt" data-toggle="tab"><strong> Retirement Money Tool</strong></a></li>
      <li class="dummyclass"><a href="#rplan" data-toggle="tab"><strong> Retirement Plan</a></li>
    </ul>

    <div class="tab-pane active dummyclass" id="rmt">
      <div class="row">
        <div class="span9">
          <strong> Retirement Money Tool </strong><small> will show you the future monthly income you may need and your progress toward that goal. All we need are answers to five simple questions:</small>
          <div class="row">
            <div class="span3">
              <ul class="icons-ul">
                <li><i class="icon-li icon-ok"></i>Your Age</li>
                <li><i class="icon-li icon-ok"></i>Your Annual Income</li>
                <li><i class="icon-li icon-ok"></i>Your Retirement Savings</li>
                <li><i class="icon-li icon-ok"></i>Your Monthly Savings</li>
                <li><i class="icon-li icon-ok"></i>Your Other Incomes</li>
              </ul>
            </div>
            <div class="span6">
              <div class="flexslider-wrap">
                <div class="flexslider">
                  <ul class="slides">
                    <li><img alt="" src="/img/gallery/101.jpg"></li>
                    <li><img alt="" src="/img/gallery/102.jpg"></li>
                    <li><img alt="" src="/img/gallery/103.jpg"></li>
                    <li><img alt="" src="/img/gallery/104.jpg"></li>
                    <li><img alt="" src="/img/gallery/105.jpg"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
  </section>
  <!-- .................................... $VARIOUS .................................... -->
  <section class="section-content section-various" id="section-various">
    <div class="row">
      <div class="span9">
        <h2 class="section-title">
          Calculation Methodology
        </h2>

      </div>
    </div>
    <div class="span9">
      <div class="accordion" id="accordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">What is the purpose of my Retirement Money ?</a>
          </div>
          <div class="accordion-body collapse in" id="collapseOne">
            <div class="accordion-inner">Retirement Money is designed to give you a simple and actionable view of your retirement income needs and your current progress towards meeting those needs whether in 5 years or 40 years. Our goal is to make sure you know where you stand regarding your readiness to retire and to ensure that you know how to improve your outlook.</div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">How is my retirement income goal determined?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTwo">
            <div class="accordion-inner"><p>Your retirement income goal is set to equal 70% of your current annual pre-tax pay as provided by your employer or input/edited by you. This is why we ask you to enter your salary the first time you use Retirement Money. This number is an estimate of the income you may need in retirement to maintain your standard of living. This number represents an accepted standard in the financial services industry and should only be viewed as a starting point for your retirement planning. Every individual's needs are unique.</p>

              <p>The 100% of your pre-retirement income may not be required to maintain your standard of living in retirement because your expenses may change when you stop working. Some expense may go down or away, such as taxes and work related expenses, while some may go up, like health care costs and money you spend on new hobbies or activities. Some examples of expenses that typically go down.Living expenses and spending habits typically drop over the course of a 30 year retirement equating to a 5-15% reduction in annual spending.</p> </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Are retiree health care costs included in my goal?</a>
          </div>
          <div class="accordion-body collapse" id="collapseThree">
            <div class="accordion-inner"><p>The default 70% replacement income assumes coverage of all retiree expenses including retiree health care costs.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">How do you calculate the progress towards my goal?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFour">
            <div class="accordion-inner"><p>Your retirement income may be made up of several components that we have estimated on your behalf. Your progress is graphically represented in a visual progress display. These estimates are hypothetical and for illustrative purposes only and do not represent current or future performance of any specific investment. All investments carry a degree of risk and past performance is not a guarantee of future results. Generally speaking, the greater the return, the greater the risk.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">How do you interprete Goal results ?</a>
          </div>
          <div class="accordion-body collapse" id="collapseFive">
            <div class="accordion-inner"><p>Your monthly retirement income need ("goal") as a percent of your current pre-tax pay. It may come from multiple sources: your future retirement account balance (including ongoing contributions by you and/or your employer), pension benefits, retirement benefits, and other retirement income you identify. A shortfall is presented if your monthly goal amount is estimated to exceed your estimated monthly income. A surplus is presented if your monthly goal amount is estimated to be less than your estimated monthly income. These estimates follow generally accepted financial calculations, as well as requirements set forth by the Financial Industry Regulatory Authority.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">What is the rate of return on Investment taken into this caculation ?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSix">
            <div class="accordion-inner"><p>The investment rate of return is assumed to be constant during the period in which your assets accumulate.Your assumed rate of return for the purposes of this tool is defaulted to 6%. You may adjust the Investment Style slider based on your personal selected investments, however it is essential that you accurately model this return in order for the estimate we provide to be valid. Please note that generally, the greater the return, the greater the risk associated with achieving that return.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">What is "Contribution Per Paycheck"?</a>
          </div>
          <div class="accordion-body collapse" id="collapseSeven">
            <div class="accordion-inner"><p>Contributions per paycheck are assumed to be made at the beginning of each pay period and increase annually at a rate equal to the stated salary increase rate. Contributions are assumed to grow by the stated investment rate of return until your stated retirement age is reached. Contribution amounts are constrained each year by the lesser of Plan or set limits. It is assumed that no additional contributions are made after the stated retirement age is reached.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseEight">Whether Monthly Employer Contribution is taken into calculations ?</a>
          </div>
          <div class="accordion-body collapse" id="collapseEight">
            <div class="accordion-inner"><p>Monthly Employer contributions (if applicable) can be accommodated in this tool by adding those contributions to your total monthly savings amount. Employer contributions are assumed to grow by the stated investment rate of return until your stated retirement age is reached..</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseNine">Whether Retirement Age may be revised in calculation matrix ?</a>
          </div>
          <div class="accordion-body collapse" id="collapseNine">
            <div class="accordion-inner"><p>If you provide a monthly pension benefit estimate for a specific retirement age, and subsequently provide a new retirement age, you should update your benefit.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseTen">What are the assumptions taken into account in these calculations ?</a>
          </div>
          <div class="accordion-body collapse" id="collapseTen">
            <div class="accordion-inner"><p>Retirement income estimates for your current account balance, future contributions, employer contributions (if applicable), and other assets set aside for retirement are for illustrative purposes only and are not guaranteed. Income estimates assume you make a lump sum purchase of a single life immediate annuity at retirement which would pay you a level income amount each month as long as you live. Using this annuity assumption allows us to translate your projected retirement portfolio into terms that are similar to other retirement income sources like Social Security or any pension benefits. The estimated income amount shown is the income you would receive at retirement in terms of today's dollars. Note that inflation will erode your spending power over time. The projected amount of the annuity income payment is based on the combination of the Society of Actuaries' Annuity Basic Mortality Table and recent Immediate Annuity interest rates from the Pension Benefit Guaranty Corporation.Please keep in mind that this approach to generating your income estimate does not constitute a recommendation to purchase an annuity at retirement. Each individual's retirement needs are different so an annuity purchase may or may not make sense for you.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse11">How do I include my spouse's/partner's income in the goal?</a>
          </div>
          <div class="accordion-body collapse" id="collapse11">
            <div class="accordion-inner"><p>Retirement Money does not currently have specific spouse/partner features.These estimates illustrate retirement needs for a single person and do not take into account spousal or beneficiary information.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse12">What if I continue to work even after my 80 years of age ?</a>
          </div>
          <div class="accordion-body collapse" id="collapse12">
            <div class="accordion-inner"><p>Stated retirement age is capped at age 80. If you plan to work after this age, enter income as "outside assets" to be reflected in your future income estimate.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse13">Can I use this tool if I do not have a current income or if I am in retirement ?</a>
          </div>
          <div class="accordion-body collapse" id="collapse13">
            <div class="accordion-inner"><p><p>No. This tool is designed to calculate your retirement income goal based on a percent of current income. Without a current income, it will be unable to calculate a goal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapse14">How do you know what my Assumed Rate of Return and / orInvestment Style is ?</a>
          </div>
          <div class="accordion-body collapse" id="collapse14">
            <div class="accordion-inner"><p><p>The rate of return (the money your investments earn) for the purposes of this tool is set to 6% (a 6% rate of return is a standard industry default for a moderately conservative investor. When coupled with a 3% inflation rate, this equates to a 3% real rate of return). You may adjust this rate based on your style of investing and/or if you feel your own investments' rate of return will be higher or lower than the 6%.</p><p><strong> TIP -  </strong>Look for an average long-term rate of 5 or more years, if possible, since retirement investing is generally done over many years. If you do adjust the Assumed Rate of Return/Investment Style slider based on your own expectations of a return, it is essential that you make an accurate selection in order for the estimate we provide to be valid. Please note that generally, the greater the return, the greater the risk associated with achieving that return.</p>
            </div>
          </div>
        </div>


        <section class="section-content section-flexslider" id="section-flexslider">

          Disclaimer : No representations, warranties or guarantees are made as to the accuracy of any projections or calculations. Neither Ideas Hub nor its affiliated companies shall be liable for any damages or costs of any type arising out of or in any way connected with your use of this calculator. This information does not serve, either directly or indirectly, as legal, financial or tax advice and you should always consult a qualified professional legal, financial and/or tax advisor when making decisions related to your individual tax situation.</small>




      </div>

      <div class="tab-pane dummyclass" id="rplan">
        <div class="row">
          <div class="span9">
            <strong> Retirement Plan </strong><small> will show yous:</small>
            <div class="row">
              <div class="span3">
                <ul class="icons-ul">
                  <li><i class="icon-li icon-ok"></i>Your XXxAge</li>
                  <li><i class="icon-li icon-ok"></i>Your XXXX</li>

              </div>
            </div>
          </div>
        </div>





















  </section>



